<html lang="en" >

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	<link href="/css/screen.css" rel="stylesheet" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://code.angularjs.org/1.4.8/angular.js"></script>
	<script src="/app/app.js"></script>
</head>

<body ng-app="ddcTestApp">

	<div class="row" ng-controller="ddcTestForm">

		<div class="lg-col-1-1">
			<div class="lg-col-1-1 section-heading text--center">
				<h1>Please Enter Your 'Key: Count'</h1>
			</div>
			<form role="form">
				<div class="form-group">
					<textarea name="prescreen-input" rows="10" cols="50" class="prescreen-input" ng-model="ddcTest.values"></textarea>
					<button name="prescreen-button" class="button prescreen-button" ng-click="ddcTest.showResults()">Show Results</button>
				</div>
			</form>
		</div>

		<div class="lg-col-1-1">
			<div class="prescreen-output">
				<ul>
					<li ng-repeat="(i,name) in ddcTest.names" ng-class="{true: 'prescreen-palindrome', false: ''} [palindrome(name.name)]">The total for {{ name.name }} is {{ name.count }}</li>
				</ul>
			</div>
		</div>

	</div>

</body>

</html>