/* #Typography
================================================== */

html {
    background: #fff;
    color: #333;
    font-size: 16px;
    font-family: 'Open Sans', Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0(16px * .75);
    margin: 0 rem 0 rem .75 rem;
    line-height: 1;
}
h1 {
    font-size: 16px * 2;
    font-size: 2 rem;
}
h2 {
    font-size: 16px * 1.5;
    font-size: 1.5 rem;
}
h3 {
    font-size: 16px * 1.17;
    font-size: 1.17 rem;
}
h4 {
    font-size: 16px * 1.12;
    font-size: 1.12 rem;
}
h5 {
    font-size: 16px * .83;
    font-size: .83 rem;
}
h6 {
    font-size: 16px * .75;
    font-size: .75 rem;
}
p {
    font-size: 16px;
    margin: 0 0 1.5em;
    font-size: 1 rem;
    margin: 0 0 1.5 rem;
    line-height: 1.5;
}
strong,
b {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
small {
    font-size: 16px * .8;
    font-size: .8 rem;
}
pre {
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    margin: 1 rem 0 rem;
}
blockquote,
q {
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin-bottom: 1em;
    position: relative;
    line-height: 1.2;
    color: #666;
    text-align: justify;
}
blockquote:before,
q:before {
    content: "\201C";
    /* Unicode for Left Double Quote */
    font-family: Georgia, serif;
    font-size: 4em;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top: 5px;
}
ol {
    display: block;
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 40px;
}
ul {
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px;
}
li {}
sup {
    vertical-align: super;
    font-size: .5em;
}
sub {
    vertical-align: sub;
    font-size: .5em;
}
// Utility typography classes
// Text transform
.text--lowercase {
    text-transform: lowercase;
}
.text--uppercase {
    text-transform: uppercase;
}
.text--capitalize {
    text-transform: capitalize;
}
// Font Weight
.text--light {
    font-weight: lighter;
}
.text--normal {
    font-weight: normal;
}
.text--bold {
    font-weight: bolder;
}
// Italic Text
.text--italic {
    font-style: italic;
}
// Text align
.text--left {
    text-align: left;
}
.text--right {
    text-align: right;
}
.text--center {
    text-align: center;
}
.text--justfiy {
    text-align: justify;
}